// out: ../style.css

// Core variables and mixins
@import "variables.less";
@import "mixins.less";

// Reset and dependencies
@import "normalize.less";
@import "print.less";
@import "glyphicons.less";

// Core CSS

@import "type.less";
@import "grid.less";
@import "tables.less";
@import "forms.less";

// Components
@import "component-animations.less";
@import "navs.less";
@import "navbar.less";
@import "list-group.less";


@import "close.less";

// Components w/ JavaScript
@import "modals.less";
@import "tooltip.less";
@import "popovers.less";

// Utility classes
@import "utilities.less";
@import "responsive-utilities.less";


//variables

@bggray: #2C343B;
@white: #fff;
@graytag: #aaaaaa;
@graycomment: #dddddd;
@colortag: #333;

@bgorange: #f85907;
@bgred: #fa3a15;
html,
body {
    margin:0;
    padding:0;
}
#wrapper {
    min-height:100%;
    position:relative;
}
#header {
    
    background:@bggray;
  ul.nav{
    li{
      
      a{
        color:@white;
      }
      label{
       color:@white;
       margin-top:15px;
       font-size:16px;
      }

    }
  }
}

.add-btn{
    padding:10px;
    background-color:@white;
    border: 1px solid;
    .border-left-radius(10px);
    .border-right-radius(10px);
    
    &:hover{
        background-color:@graytag;   
    }
}
.comment-section{
    margin:25px 25px 0;  
    background-color: @graycomment;
    padding:10px;
    .comment-field{
        width:75%;   
    }
    label{
     margin-right:5px;   
    }
    .comment{
        *{
            display: inline-block;   
             position: relative;
        } 
        img{
            width:40px;
        }
        .comment-text{
            .comment-user{
                display: block;
                font-weight:bold;
            }
            top:10px;
        }
    }
}
.main{
    margin:100px 0 50px;
}

.input-group{
    width:100%;
    input{
        width:100%;
        .border-left-radius(10px);
        .border-right-radius(10px);
        border:1px @graytag solid;
        padding:10px;
        &:focus{
            outline:0;   
        }
    }
    
}

.song-desc{
    *{
        display: inline-block;   
         position:relative;
    }
    .song-spec{
       
        width:50%;   
        h3{
            margin-top:0;   
        }
        span{
         background-color: @graytag;
         padding:5px;
         margin: 1px 3px;
        }
        a{
            text-decoration:none;
            color:@colortag;
        }
    }
    .song-user{
        float:right;
        img{
            width:50px;   
        }
        h5{
            margin:0;   
        }
        div{
            top:15px;   
        }
        .username{
            font-size:22px;
            font-weight: bold;
        }
    }

    
}
.nav{
    input{
        margin:10px 0 0 10px;   
    }
}
.navbar-left{
     width:50%; 
    .search-box{
        position:relative;
          width:90%; 

        
        input[type="text"]{
            .border-left-radius(10px);
            .border-right-radius(10px);
            border:none;
            padding:5px;
            width:90%;
            &:focus{
                outline:0;
            }
        }
    }
}
.navbar-right{
    .login-btn{
        margin-top:7px;
        line-height:10px;
        padding:10px;
        #gradient > .vertical(@bgorange,@bgred,0%,100%);
        border: 1px solid @bggray;
        .border-left-radius(10px);
        .border-right-radius(10px);
        color:@white;
    }
}

.player{
    .ui360{
        margin: 0 auto;   
    }
}


.register-btn{
    width:100%;
    line-height:10px;
    padding:10px;
    #gradient > .vertical(@bgorange,@bgred,0%,100%);
    border: 1px solid @bggray;
    .border-left-radius(10px);
    .border-right-radius(10px);
    color:@white;
}
.search-btn{
    right: 25px;       
    position: relative;
    padding: 1px;
    background-color: white;
    border: none;   
}
.profile-desc {
  padding-bottom: 20px;
  border-bottom: 1px solid @graycomment;
  .profile-picture,
  .profile-info,
  .usr-menu {
    display: inline-block;
  }
  .profile-picture {
    height: 100%;
    vertical-align: top;
  }
  .profile-info {
    vertical-align: bottom;
    h1, h3 {
      line-height: 100%;
      margin: 0;
      padding: 0;
    }
    h3 {
      margin-left: 10px;
      color: @graytag;
    }
    h1 {
      padding-bottom: 5px;
    }
  }
  .usr-menu {
    // float: right;
    vertical-align: bottom;
    margin-left: 10px;
    li {
      display: inline-block;
      // border-left: 1px solid @graycomment;
    }
  }
}

.feed {
  max-width: 800px;
  margin: auto;
}

.post {
  border-bottom: 1px solid @graycomment;
  padding: 20px;
  button.play {
    // height: 50px;
    width: 50px;
    display: inline-block;
    font-size: 2em;
    background: none;
    border: none;
  }
  .post-info {
    display: inline-block;
    span {
      background-color: @graytag;
      padding: 5px;
      margin: 1px 3px;
      font-size: 0.95em;
    }
    a {
      text-decoration:none;
      color: @colortag;
    }
  }
  .likes {
    float: right;
    span {
      display: block;
      text-align: center;
      &.glyphicon {
        font-size: 1.8em;
        margin-top: 20px;
      }
    }
  }
}
